body {
  font-family: Arial, sans-serif;
  color: linen;
  margin: 0;
}

#mission {
  padding-top: 100px;
  background: linear-gradient(black, rgb(40, 40, 40));
  padding-bottom: 50px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: rgb(23, 23, 41);
  position: fixed;
  width: 100%;
}

#nav-bar {
  display: flex;
  gap: 1rem;
}

a:link, a:hover, a:visited, a:active {
  text-decoration: none;
  color: linen;
}

#header-img {
  width: 12rem;
  height: auto;
}

#curriculum {
  padding-top: 50px;
  padding-bottom: 50px;
  background: linear-gradient( rgb(40, 40, 40), rgb(80, 80, 80));
  margin: 0;
}

#alumni {
  padding-top: 50px;
  background: linear-gradient( rgb(80, 80, 80), rgb(120, 120, 120));
  margin: 0;
  padding-bottom: 20px;
}

.quote-image {
  width: 12rem;
  height: 12rem;
}

blockquote {
  font-style: italic;
  font-size: 1.5rem; 
}



.quote-container {
  display: flex;
  align-items: center;
  padding-bottom: 15px;
}

h1, h2 {
  text-align: center;
}

h2 {
  font-weight: normal;
  font-size: 1.1rem
}

p, iframe {
  padding: 15px;
}

#form {
  display: flex;
  flex-direction: column;
  align-items: center;
   background-color: rgb(23, 23, 41);
   padding-top: 50px;
   margin: 0;
}

#first-name, #last-name {
  width: 200px;
  margin-bottom: 15px;
}

#email {
  width: 238px;
  margin-bottom: 15px;
}

#submit {
  height: 30px;
  width: 100px;
  font-size: 18px;
}
